@import "styles/variables";

.datePicker {
  background-color: $color-gray-light;
  border: 1px solid $color-black-light;
  border-radius: $border-radius-base;
  padding: 7.5px 10px;
  font-size: $base-font-size;
  width: 100%;
  outline: none;
  color: $color-black;

  &:disabled {
    color: $color-gray;
  }

  &:focus {
    border: $base-border-width solid $color-primary;
  }
}
