$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
$base-font-size: 14px;
$base-font-weight: 500;
$base-border-width: 1px;
$base-opacity: 0.25;

$border-radius-base: 6px;
$border-radius-small: 4px;
$border-radius-large: 8px;

$font-size-small: 12px;
$font-size-large: 24px;

$color-black: #191919;
$color-black-light: #0000001a;
$color-white: #fff;
$color-gray: #828282;
$color-gray-light: #fafafa;
$color-primary: #2b96f1;
$color-green: #5cb85c;
$color-orange: #ff7733;
$color-orange-dark: #f26c5114;
$color-border: #e8e8e8;

@mixin truncate-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin for-size($range) {
  $sm: 579px;
  $md: 768px;
  $lg: 991px;
  $xl: 1199px;

  @if $range == sm {
    @media (max-width: #{$sm - 1}) {
      @content;
    }
  } @else if $range == md {
    @media (max-width: #{$md - 1}) {
      @content;
    }
  } @else if $range == lg {
    @media (max-width: #{$lg - 1}) {
      @content;
    }
  } @else if $range == sm-min {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $range == lg-min {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $range == xl-min {
    @media (min-width: $xl) {
      @content;
    }
  }
}
